.roll-tracker-item-button {
    background: transparent;
    color: white;
    border: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    margin: 0 2%;
}

.roll-tracker-item-button > i {
    margin-right: 0;
}

.roll-tracker-item-button:hover, .roll-tracker-item-button:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

.roll-tracker-form-heading {
    font-size: large;
    font-weight: bold;
    margin: 0
}